.center-div {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.text {
  background: rgb(252, 255, 58);
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.cat-pic {
  width: 100%;
}
